# For nested folders, ignore the folder contents, but whitelist its subfolders.

/*

!/*/

# Ignore folder containg PSoC Creator version specific downloads

# like components, examples etc.

/4.2

# Then again ignore all the contents, but whitelist its subfolders etc.

# Git doesn’t list excluded directories, so this is the way to get to files

# nested in up to x subfolders

# (where x is the number of asterisks in the "pyramid" below).

/*/*

# Side effect is ignoring all the contents along the route,

# so whitelisting a specific folder content at a specific level needs to be

# stated after blacklisting the contents of the folder one level up.

# Custom folder with shared header and source files

!/common/*

!/*/*/

/*/*/*

!/*/*/*/

/*/*/*/*

!/*/*/*/*/

/*/*/*/*/*

!/*/*/*/*/*/

/*/*/*/*/*/*

!/*/*/*/*/*/*/

/*/*/*/*/*/*/*

!/*/*/*/*/*/*/*/

# Project Directory (project_name.cydsn)

!main.c

!cyapicallbacks.h

!cyapicallbacks.c

!globals.h

!*.cydwr

!*.cyprj

!*.cysch

!*.ctl


# Ignore per-user workspace files (e.g., PSOC_Workspace.cywrk.Will)
*.cywrk.*

# Generated source and other source files inside the folder structure

# !*.c

# !*.h

#!*.inc

#!*.icf

#!*.ld

#!*.s

#!*.scat

# Binary files

# !*.hex

# !*.cyacd